<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron" style="background:white">
      <h1>Hi there!</h1>
      
    </div>
    <div class="content">
      <p>
        I told you, I'm a pika. Stop looking at me and get on with your business.
      </p>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>