<html>
<head>
	<% include ../partials/head %>
<!--   <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
 -->  <!--<script src="/js/main.js"></script>-->
 
 <!-- Link to Font Awesome stylesheet for icons -->
 <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body class="container">
	<header>
		<% include ../partials/header %>
	</header>
	
	<main>
		<div class="jumbotron" style="background:white">
	  		<h1>Check here:</h1>

	  		<a href="https://github.com/ksoltan" target="_blank"><i class="fa fa-github fa-3x"></i></a>
	  		<a href="https://www.facebook.com/nati.san.90" target="_blank"><i class="fa fa-facebook fa-3x"></i></a>
	  	</div>

  	</main>

<!--   <button id="myButton" type="button" onclick="myFunction()">
    Try it
  </button>
 -->
</body>

</html>