<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron" style="background: white">
      <h1>My Projects</h1>
      <p>Mwahaha</p>
    </div>
    <div class="content">
        <img src="http://mx.cdn01.mundotkm.com/2015/07/minions-evil.gif">
    <div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>